{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block meta %} {% endblock meta %}
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="{% static 'css/global.css' %}"/>
  </head>
  <body class="antialiased bg-[#0B0D0F] text-white">
    {% block content %} {% endblock content %}
    <script src="{% static 'js/typing.js' %}"></script>
  </body>
</html>