{% extends 'base.html' %}
{% block content %}
{% include 'navbar.html' %}
<div>
  <h1>Daftar Produk</h1>


<h5>Nama Aplikasi:</h5>
<p>{{ aplikasi }}</p>

<h5>Name:</h5>
<p>{{ name }}</p>

<h5>Class:</h5>
<p>{{ class }}</p>

<form method="get" action="">
  <input type="text" name="q" placeholder="Cari produk..." value="{{ search_query }}">
  <button type="submit">Search</button>
</form>


<a href="{% url 'main:product_add' %}">
  <button>+ Tambah Produk</button>
</a>
<a href="{% url 'main:logout' %}">
  <button>Logout</button>
</a>
<h5>Sesi terakhir login: {{ last_login }}</h5>

<a href="?filter=all">
    <button type="button">All Products</button>
</a>
<a href="?filter=my">
    <button type="button">My Products</button>
</a> 
</div>

<hr>

{% if not products %}
<p>Belum ada produk yang ditambahkan.</p>
{% else %}

{% for product in products %}
<div>
  <h2><a href="{% url 'main:product_details' product.id %}">{{ product.name }}</a></h2>

  <p><b>Kategori:</b> {{ product.category }} | 
     <b>Harga:</b> Rp {{ product.price }}</p>

  {% if product.thumbnail %}
    <img src="{{ product.thumbnail}}" alt="{{ product.name }}" width="150" height="100">
    <br />
  {% endif %}

  <p>{{ product.description|truncatewords:25 }}...</p>

  <p><a href="{% url 'main:product_details' product.id %}"><button>Detail</button></a></p>
  <a href="{% url 'main:edit_product' product.pk}">
    <button>
      Edit Here
    </button>
  </a>
       <a href="{% url 'main:delete_product' product.pk %}">
      <button>
          Delete
      </button>
</div>

<hr>
{% endfor %}

{% endif %}
{% endblock content %}
