<div style="border:2px solid greenyellow; background:linear-gradient(rgb(12, 174, 218),#92fef2); border-radius:10px; padding:20px; width:350px; font-family:Arial, sans-serif;">
  <h5 style="color:#9c1f8e; margin-bottom:5px;">Nama Aplikasi: </h5>
  <p style="color:blueviolet; font-weight:bold; margin-bottom:15px;">{{ aplikasi }}</p>

  <h5 style="color:#9c1f8e; margin-bottom:5px;">Name: </h5>
  <p style="color:rebeccapurple; font-weight:bold; margin-bottom:15px;">{{ name }}</p>

  <h5 style="color:#9c1f8e; margin-bottom:5px;">Class: </h5>
  <p style="color:blueviolet; font-weight:bold;">{{ class }}</p>

  <button style = "margin-top:20px; padding:10px 15px; background-color:#27ae60; color:white; border:none; border-radius:5px; cursor:pointer; " onclick="window.location.href='/'">Kembali</button>
</div>
